server:
  port: 8079
spring:
  profiles:
    active:
    - production
  application:
    name: RoutineHelper
  jackson:
    serialization:
      write-dates-as-timestamps: false
  datasource:
    url: jdbc:h2:file:./data/routinehelper
    username: sa
    password: u1efxxc0$3Nm
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    database: H2
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl