<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <button md-icon-button routerLink="/routine-users">
      <md-icon>home</md-icon>
    </button>
    <span>Routine Helper</span>
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav align="start" mode="side" #sidenav>
      <button md-button routerLink="/routine-users">Users</button>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>