<div>
  <h2>{{ task.name }}</h2>
  <label for="due-time">Due Time:</label>
  <md-select placeholder="Hour" id="due-time" [(ngModel)]="chosenHour">
    <md-option *ngFor="let hour of global().hourValues()" [value]="hour">{{ hour }}</md-option>
  </md-select>
  <md-select placeholder="Minute" [(ngModel)]="chosenMinute">
    <md-option *ngFor="let minute of global().minuteValues()" [value]="minute">{{ minute }}</md-option>
  </md-select>
  <md-select placeholder="Period" [(ngModel)]="chosenPeriod">
    <md-option *ngFor="let period of global().periodValues()" [value]="period">{{ period }}</md-option>
  </md-select>
  <br />
  <button md-button type="submit" (click)="updatePendingTask([chosenHour, chosenMinute, chosenPeriod])">Update Task</button>
</div>