<md-card class="primary-card">
  <md-card-title>Routine Users</md-card-title>
  <md-card-content>
    <md-list class="routineUser">
      <md-list-item *ngFor="let routineUser of routineUsers">
        <md-icon md-list-icon>person</md-icon>
        <h4 md-line>{{routineUser.name}}</h4>
        <button md-button (click)="deleteRoutineUser(routineUser)"><md-icon>delete_forever</md-icon>Delete</button>
      </md-list-item>
    </md-list>
  </md-card-content>
  <button md-mini-fab (click)="addRoutineUser()">
    <md-icon>add</md-icon>
  </button>
</md-card>