<div>
  <md-input-container>
    <input md-input placeholder="Task Name" value="" #name>
  </md-input-container>
  <br />
  <label for="notify-time">Notify Time:</label>
  <md-select placeholder="Hour" id="notify-time" [(ngModel)]="chosenHour">
    <md-option *ngFor="let hour of [0,1,2,3,4]" [value]="hour">{{ hour }}</md-option>
  </md-select>
  <md-select placeholder="Minute" [(ngModel)]="chosenMinute">
    <md-option *ngFor="let minute of [0,1,2,3,4]" [value]="minute">{{ minute }}</md-option>
  </md-select>
  <br />
  <md-select placeholder="User" [(ngModel)]="chosenUser">
    <md-option *ngFor="let user of users" [value]="user">{{ user.name }}</md-option>
  </md-select>
  <br />
  <button md-button type="submit" (click)="createRoutineTask(name.value, [chosenHour, chosenMinute])">Add Task</button>
</div>